.contact-container {
    overflow-x: hidden;
}

.soc-links {
    text-decoration: none;
    color: cadetblue;
}

.send-btn {
    border: none!important;
    height: 90px;
    width: 90px;
    padding-top: 17px!important;
    padding-bottom: 17px!important;
    border-radius: 50%!important;
    background-color: lightseagreen!important;
}

.links-container {
    margin-left: 7px;
}