
  .home-circle {
    transition: width 1s, height 1s;  
    width: 55px;
    height: 55px;
    background-color: cornflowerblue;
    border-radius: 50%;
  }

  .home-circle:hover {
    width: 70px;
    height: 70px;
    background-color: cornflowerblue;
    border-radius: 50%;
    transition: width 1s, height 1s;
  }

.github-circle {
   transition: width 1s, height 1s;  
    width: 80px;
    height: 80px;
    background-color:darkseagreen;
    border-radius: 50%;
}

.github-circle:hover {
  width: 93px;
  height: 93px;
  background-color:darkseagreen;
  border-radius: 50%;
  transition: width 1s, height 1s;  
}

.hobbies-circle {
    transition: width 1s, height 1s;  
    width: 90px;
    height: 90px;
    background-color:lightseagreen;
    border-radius: 50%;
}

.hobbies-circle:hover {
  width: 100px;
  height: 100px;
  background-color:lightseagreen;
  border-radius: 50%;
  transition: width 1s, height 1s;  
}

.contact-circle {
    width: 69px;
    height: 69px;
    background-color:mediumspringgreen;
    border-radius: 50%;
    transition: width 1s, height 1s;  
}

.contact-circle:hover {
  transition: width 1s, height 1s;  
  width: 79px;
  height: 79px;
  background-color:mediumspringgreen;
  border-radius: 50%;
}


.animation2:hover {
    width: 250px;
    height: 250px;
    transition: width 1s, height 1s;
  }

  /* Lai animācijā palielinātā fotogrāfija tikpat vienmērīgi samazinās, kad kursors to vairs neskar,
  atkārto to pašu animation2, tikai bez :hover   : */
  .animation2 { 
    transition: width 1s, height 1s;
    width: 180px;
    height: 180px;
  }

  .home-picture {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}
