.art, .poems, .riddles, .photos {
    transition: width 1s, height 1s;  
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.hobbies-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-top: 20px;
}

.art:hover, .poems:hover, .riddles:hover, .photos:hover {
    transition: width 1s, height 1s;  
    height: 220px;
    width: 220px;
}

.poems {
    background-image: url('../Images/upe.png');
    border: none;
}


