.art, .poems, .riddles, .photos {
    transition: width 1s, height 1s;  
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.hobbies-container {
    display: flex;
    justify-content: center;
}

.art:hover, .poems:hover, .riddles:hover, .photos:hover {
    transition: width 1s, height 1s;  
    height: 250px;
    width: 250px;
}