.art, .poems, .riddles, .photos {
    transition: width 1s, height 1s;  
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.hobbies-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-top: 20px;
}

.art:hover, .poems:hover, .riddles:hover, .photos:hover {
    transition: width 1s, height 1s;  
    height: 220px;
    width: 220px;
}

.poems {
    background-image: url('https://static.wixstatic.com/media/c75c68_d771afd4869040a1b97a78e2255e7c35.jpg/v1/fill/w_1837,h_1378,al_c,q_90/c75c68_d771afd4869040a1b97a78e2255e7c35.webp');
    border-radius: 50%;
    height: 180px;
    width: 180px;
}
