
.myName {
    padding-top: 70px;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-home {
    background-image: url('../Images/nature.jpg');
    position: relative;
    height: 900px;
    background-repeat: no-repeat;
}

.btn-home {
    background-color:palevioletred;
    border-radius: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    border: none;
    color: white;
    margin-top: 50px;
}

.greetings {
    color: palevioletred;
}

.animation {
    width: 115px;
    height: 115px;
    background: palevioletred;
    transition: width 1s, height 1s;
  }
  
  .animation:hover {
    width: 150px;
    height: 150px;
  }
